body{
   margin: 0; 
   padding: 0;
   font-family:  Arial, Helvetica, sans-serif;
   background-color: #ecf0f1;
   ;

}

ul,h1{
    padding:0;
    margin:0;
}

h1 span{
    color: #d35400;
}

header{
    background-color: #2c3e50;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #d35400;
    
}

.space-between{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 80%;
    margin: 0 auto;
   
}

#header ul{
    list-style: none;
    display: flex;
    width: 200px;
    justify-content: space-between;    
}

nav{
    margin-top: 10px;
}


#header li a{
    color: white;
    text-decoration: none;
    
}

#header li a:hover{
    color:#bdc3c7;
    font-weight: bold;
}

.active{
    color: #d35400;
    font-weight: bold;
}

#banner{
    background: url('../img/showcase.jpg');
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ecf0f1;
}

#banner h1{
    font-size: 45px;
}


#newLetter{
    background-color: #2c3e50;
    height: 100px;
}

#newLetter h1{
  color: white;  
}

.horizontal-align{

    display: flex;
    justify-content:space-between;
    align-items: center;
    height:inherit;
}

/* #newLetter div input[type="submit"]{
    background-color: #d35400;
}

#newLetter div input[type="text"]{
    background-color: green;
} */

#newLetter div button{
    background-color: #d35400;
    color: white;
    height: 40px;
    width: 100px;
    border: 0;
}

#newLetter div input[type="text"]{
    height: 40px;
    width: 200px;
}

#cards{
    margin: 40px;
    text-align: center;
}

#cards .container{
    display:flex;
}

footer{
    background-color: #d35400;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

#cards img{
    height: 120px;
}


